/* ==========================================================================
   FOOTER - Modern Redesign
   ========================================================================== */

.page__footer {
  @include clearfix;
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;
  /* sticky footer fix start */
  position: absolute;
  bottom: 0em;
  height: auto;
  /* sticky footer fix end */
  margin-top: 2em;
  color: rgba(255, 255, 255, 0.7);
  -webkit-animation: fadeInUp 0.5s both;
          animation: fadeInUp 0.5s both;
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
  background-color: $darker-gray;
  border-top: none;

  footer {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 100%;
    padding: 1em;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }
  }

  a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    transition: $global-transition;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  .fas,
  .fab,
  .far,
  .fal {
    color: rgba(255, 255, 255, 0.7);
    transition: $global-transition;
  }

  a:hover .fas,
  a:hover .fab,
  a:hover .far,
  a:hover .fal {
    color: $accent-color;
  }
}

.page__footer-copyright {
  font-family: $global-font-family;
  font-size: $type-size-7;
}

.page__footer-follow {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: $sans-serif;
    font-size: $type-size-6;
    text-transform: uppercase;
  }

  li + li:before {
    content: "";
    padding-right: 5px;
  }

  a {
    padding-right: 10px;
    font-weight: 600;
  }

  .social-icons {
    a {
      white-space: nowrap;
    }
  }
}
